* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
body {
  font-family: 'Slabo 27px', serif;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}

/*Navigation Top Bar*/
/*
.nav {
  height: 35px;
  text-align: right;
}


.menuContainer {
  margin-right: 10px;
  padding-top: 4px;
}

.listDropButton {
  font-size: 20px;
  color: navy;
  padding: 5px;
  border-radius: 3px;
}

.listDropButton:hover {
  background-color: lightgray;
  cursor: pointer;
}
*/

/* ---------- index.html styles  -------------- */

.hero {
  display: flex;
  text-align: center;

}

.heroText {
  font-family: 'Permanent Marker', cursive;
  font-size: 37px;
  color: navy;
  padding: 50px 5px 50px 5px;
  flex: 1;
}

/*Add a new list*/
#newListAdd {
  background-color: lightblue;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

#newListForm {
  margin: 20px;
  display: none;
}

#newListSubmitButton {
  background-color: #A1D490;
  border-radius: 5px;
  color: white;
  padding: 3px;
  cursor: pointer;
  margin: 4px 0 4px 0;
}

#newListSubmitButton:hover {
  background-color: #66D640;
}

#cancelNewListForm {
  background-color: #F2636D;
  color: white;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  margin: 4px;
}

#cancelNewListForm:hover {
  background-color: #F51B29;
}

.colorPalette {
  height: 20px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.colorSquare {
  height: 15px;
  width: 15px;
}

.colorSquare.selected {
  border: 3px black;
}

/*Container of all list buttons*/
.listMenuContainer {
  text-align: center;
  padding-bottom: 30px;
  width: 92vw;
  height: 500px;
  margin: 0 auto;
  margin-top: 10px;
}

/*Individual Buttons styling*/
.listButtonContainer {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 200px;
  margin-top: 10px;
}

.listButton {
  color: white;
  background-color: darkgray;
  transition: all 0.5s ease-in-out;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  border-radius: 10px 10px 0 0 ;
  height: 150px;
}

.changeButtonsContainer {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.editButton {
  width: 50%;
  height: 100%;
  font-size: 20px;
  line-height: 50px;
  background-color: #EDEDA6;
  border-radius: 0 0 0 10px;
  transition: all 0.5s ease-in-out;
}

.editButton:hover {
  cursor: pointer;
  background-color: #F7F379;
}


.listTitle {
  text-decoration: none;
  color: white;
  line-height: 150px;
  display: inline-block;
  position: relative;

}

.listCloseBox {
  background-color: #525454;
  width: 50%;
  height: 100%;
  font-size: 20px;
  border-radius: 0 0 10px 0;
  line-height: 50px;
  transition: all 0.5s ease-in-out;

}

.listCloseBox:hover {
  cursor: pointer;
  background-color: #ff8080;
}

.listCloseBox p {
  font-size: 18px;
  line-height: 30px;
}

.listButton:hover {
  background: lightblue;
  box-shadow: 3px 3px 10px 1px lightgray;
  cursor: pointer;

}

/* ---------Edit list Name pop up modal ------------*/

.editListModal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.editListWindow {
  width: 60%;
  margin: 10% auto;
  padding: 10px;
  background-color: #add8e6;
  height: 100px;
}

.closeEditList {
  float: right;
  font-size: 30px;
  font-weight: bold;

}

.closeEditList:hover {
    cursor: pointer;
}

/** ------------ individual list page styling  --------------- **/

.listContainer {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 50px;

}

.itemsContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 50px;

}

.sectionHeader {
  text-align: left;
  margin-top: 30px;
}

/* ------- Standard Item Styling ----------- */

.listItem {
  display: flex;
  width: 100%;
  flex:1;
  flex-direction: column;
  background-color: lightgray;
  text-align: left;
  margin-top: 10px;
  min-height: 65px;
}

.checkAndTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listItemText {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: (100% - 60px);
  padding: 5px;
  min-height:60px;

}

.listItemText p {
  color: black;
}

.checkboxContainer{
  height: 35px;
  width: 100%;
  background-color: #cce6ff;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.checkboxContainer:hover {
  cursor: pointer;
  background-color: #66b3ff;
}

.editItemButtonContainer {
  background-color: #ffffcc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.editItemButtonContainer:hover {
  cursor: pointer;
  background-color: #ffff99;
}

.buttonsContainer {
  height: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.itemButtonContainer {
  height: 100%;
}

.ButtonContainer {
  background-color: #ffffcc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.ButtonContainer:hover {
  cursor: pointer;
  background-color: #ffff99;
}


.removeButtonContainer {
  background-color: #ff9999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.removeButtonContainer:hover {
  cursor: pointer;
  background-color: #ff8080;
}

.addButtonContainer {
  background-color: #ccffcc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.addButtonContainer:hover {
  cursor: pointer;
  background-color: #80ff80;
}

/* ------- New List Item Styling ----------- */



.newListItemText {
  align-items: center;
}

.newListItemText input {
  width: 95%;
}


/* ------- Completed List Item Styling ----------- */

.completedListItem {

}

.completedListItemText {
  color: darkgray;
}

/* ---------- media queries ----------------*/


@media screen and (min-width:  321px) {

  /*Move flex direction to row*/
  .listMenuContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90vw;
  }
}

@media screen and (min-width:  768px) {

  /*Index.html styling*/
  .listMenuContainer {
    width: 80vw;
  }

  .listButtonContainer {
    width: 43%;
  }

  /*Individual list page styling*/
  .listItem {
    flex-direction: row;
    min-height: 65px;
  }

  .checkboxContainer {
    flex:1;
    height: 100%;
  }

  .listItemText {
    flex: 7;
  }

  .checkAndTextContainer {
    flex-direction: row;
    flex: 3;
  }

  .buttonsContainer {
    flex: 1;
    height: inherit;
  }

  .checkboxContainer p {
    padding: 4px;
  }
}

@media screen and (min-width:  1224px) {
  /*Individual list page styling*/
  .checkboxContainer {
    padding: 0 5px 0 5px;
  }


  .checkAndTextContainer {
    flex: 4;
  }

  .buttonsContainer {
    flex: 1;
  }

  .listButtonContainer {
    width: 29%;
  }
}
